
.sidebar-show {
  padding: 10px 14px;
  background-color: rgba(120, 120, 120, 0.1);
  border-radius: 12px;
  margin: 20px;
  display: inline-block;
  cursor: pointer;
}

.sidebar-show:hover {
  background-color: rgba(120, 120, 120, 0.3);
}

.sidebar-show i {
  font-size: 20px;
}